{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Success!</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
</head>
<body>
	<div class="success_holder">
	<h1 class="registered">Registered Successfully!</h1>
	<a href="/register"><button class="new_btn" >New Registration</button></a>
	</div>
	<div style="color:#dcdcdc;margin:60px auto;font-style:italic;">
	<h3><u>Developer</u></h3>
	<h4>Surya T - suryatmodulus@gmail.com</h4>
	<div style="display:block;width:100px;height:30px;line-height:30px;background-color:#FCF44F;color:#141414;font-size:20px;border-radius:5px;position:absolute;bottom:8px;right:8px;"><a href="/logout" >Logout</a></div>
</body>
</html>



